<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        
        <!-- load angular via CDN -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="app.js"></script>
        <script src="movieService.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <!-- Im not very good with CSS, hence have included style stuff as much as I can :) -->

    <body style="background-color:#e7eaed">

        <div id="divMasterDetailWrapper" ng-controller='MasterDetailCtrl' class="divMasterDetail">
            <div id="divMasterView" class="divMaster" ng-controller="moviesController">

                <h1 class="h1"> Browse Movies </h1>
                <hr>
                <div class="col-md-6" ng-repeat="movie in movies" ng-click="movieSelected(movie.id)">
                    <img id="image{{movie.id}}" ng-src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}?api_key=cf852df10c90128fb734af573f4f1a0d" class="img-circle backdropImage"/>
                    <br>
                    <div class="body">{{movie.original_title}}</div>
                    <br>
                    </a>
                </div>
            </div>

            <div id="divDetailsView" class="container divDetails"ng-controller="movieDetailsController">
                <!-- angular templating -->
                    <!-- this is where content will be injected -->
                <div ng-view></div>
            
            </div>
        </div>
    </body>

</html>